<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970980545204-kh5oihefuurnv62h730dqo192ljbdlfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970980545204-kh5oihefuurnv62h730dqo192ljbdlfe</string>
	<key>API_KEY</key>
	<string>AIzaSyDsV9Z2oHPi0DavZtiFRWGHFXW-TuEqsZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>970980545204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mataewoos.taewoo-swift-HaneulBori</string>
	<key>PROJECT_ID</key>
	<string>haneulbori-3ad57</string>
	<key>STORAGE_BUCKET</key>
	<string>haneulbori-3ad57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970980545204:ios:43cda745247cfd56707de1</string>
</dict>
</plist>